*{
  /* box-sizing: border-box; */
}

body {
  /* margin: 0; */
}

header{
  min-height: 30vh;
}

.header-button{
  display: flex;
  text-align: right;
}

header hr{
    width: 80%;
}

.Main{
  min-height: 50vh;
}

.Main-font{
  text-align: center;
}

.Main-a{
  display:flex;
  flex-wrap: wrap;
}

.a-text-align{
  flex:auto;
  width:50%;
  text-align: center;
}

.test{
  text-align: center;
  margin:0 500px;
  background-color: aqua;
}

footer{
  background-image: url("../img/nomilog-fotter.jpg");
  min-height: 20vh;
}

footer a{
  color: White;
}

.fotter-font{
  color:White;
  text-align: center;
  padding: 3%;
}