*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.Main-font{
  text-align: center;
}

.Main-a{
  display:flex;
  flex-wrap: wrap;
}

.a-text-align{
  flex:auto;
  width:50%;
  text-align: center;
}

