*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

header{
  min-height: 30vh;
}

.Main-font{
  text-align: center;
}

.Main-a{
  display:flex;
  flex-wrap: wrap;
}

.a-text-align{
  flex:auto;
  width:50%;
  text-align: center;
}

footer{
  background-image: url("../img/nomilog-fotter.jpg");
  min-height: 20vh;
}

footer a{
  color: White;
}

.fotter-font{
  color:White;
  text-align: center;
  padding: 3%;
}