*{
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  /* color:#575757; */
  color:#444;
}
/*【共通部分】「header」「開始」*/
header{
  z-index: 1;
  min-height: 80px;
  width: 100%;
  background-color:#000;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  opacity: 0.7;
}

header:before  {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
}

header>div{
  display: flex;
}

header>div>h2{
  color: #fff;
  font-size: 30px;
}

.my-white{
  color: #fff;
}

.header-list{
  display: flex;
  color: #fff;
}

.header-list-flex-column{
  display: flex;
  flex-direction:column;
}

.header-list li{
  list-style: none;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  font-size: large;
  font-weight: 700;
}

.header-list div{
  text-align: right;
}

header img{
  height:35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid yellow;
  /* 下記の説明 画像の高さを揃える */
  vertical-align: bottom;
}
/*【共通部分】「header」「終了」*/

/*【master管理画面】「開始」*/
main{
  min-height: 60vh;
  background-size: cover;
  /* 下記の説明　下記を充ててあげないとheaderが埋まる */
  padding-top: 150px;
}

.main-font{
  text-align: center;
  color:block;
}

.main-font h1 {
  position: relative;
  padding: 0.5rem;
  text-align: center;
}

.main-font h1:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background:yellow;
}

.main-button{
  width: 100px;
  text-align: center;
}

.main-button a{
   text-decoration: none;
}

.main-button-flex{
  width: 70%;
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5%;
}

.main-button-layout{
  width:50%;
  margin-top: 30px;
}

.btn--big{
  padding:20px 20px;
  width: 200px;
}

.btn--blue {
  font-size: large;
  font-weight: bold;
  display: inline-block;
  color:#444;
  background-color:#00CCFF;
  border-bottom: 5px solid#0081cc;
  border-radius: 10px;    
}

.btn--blue:hover{
  opacity: 0.7;
}

.btn--blue:active {
  margin-top: 3px;
  color: #444;
  background: #00CCFF;
  /* 下記の説明 border-bottomの値が減っています */
  border-bottom: 2px solid #00CCFF;
}

.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
/*【master管理画面】「終了」*/


/*【usremaster管理画面】「開始」*/

.user-button-layout{
  margin-left:190px ;
}

.btn--middle{
  padding: 8px 8px;
  width: 100px;
}

.btn--small{
  padding: 6px 6px;
  width: 60px;
}

.btn--gray {
  font-size: large;
  display: inline-block;
  color:#444;
  background-color:#d3d3d3;
  border-bottom: 5px solid #808080;
  border-radius: 10px;  
}

.btn--gray:hover{
  opacity: 0.7;
}

.editing--btn--gray:active {
  margin-top: 3px;
  color: #444;
  background:#d3d3d3;
  /* 下記の説明 border-bottomの値が減っています */
  border-bottom: 2px solid #d3d3d3;
}

.delete--btn--gray:active {
  margin-top: 3px;
  color: #444;
  background:#d3d3d3;
  /* 下記の説明 border-bottomの値が減っています */
  border-bottom: 2px solid #d3d3d3;
}

.restoration--btn--gray:active{
  margin-top: 3px;
  color: #444;
  background:#d3d3d3;
  /* 下記の説明 border-bottomの値が減っています */
  border-bottom: 2px solid #d3d3d3;
}

.usermaster-table td{
  height: 50px;
}

.search{
  display: flex;
  padding: 25px 0;
  height: 80px;
  flex-wrap : wrap;
  justify-content: center;
}

.search label{
 padding-left: 13px;
}

.search input{
  height: 30px;
  border-radius:30px;
  outline: none;
  padding-left: 15px;
}

.usermaster-search>div:nth-of-type(1){
  width: 200px;
  display :flex;
  flex-direction: column;
  margin-right: 5%;
}

.usermaster-search>div:nth-of-type(2){
  width: 300px;
  margin-right:5% ;
  display :flex;
  flex-direction: column;
}

.usermaster-search>div:nth-of-type(3){
  width: 200px;
  margin-right: 5%;
  display :flex;
  flex-direction: column;
}

.search-button-layout{
  margin-top:15px ;
  /* padding-left:100px ; */
}

.master-new-button{
  margin:50px 0;
}

.usermaster-table{
  display: table;
  margin: 0 auto;
}

th,td {
  /* 枠線指定 */
  border: solid 1px;              
}

table {
   /* セルの線を重ねる */
  border-collapse:  collapse;     
}

.usermaster-table table tr:nth-child(odd){
background-color: #DDDDDD;
}

.table-header-color{
  background-color: #87cefad3 !important;
}

.table-restoration-color{
  background-color: #999999 !important;
}

.usermaster-table td{
  padding: 5px 5px;
}

.error-message{
  text-align: center;
  padding: 25px 0;
}

.error-message li{
  list-style: none;
  color: red;
}

/*【usremaster管理画面】「終了」*/

/* 【各マスタ管理画面】「開始」 */

.each-master-search>div:nth-of-type(1){
  width: 500px;
  margin: 0 85px;
  display :flex;
  flex-direction: column;
}

.each-master-search-button-layout{
  margin-top:15px ;
}
/* 【各マスタ管理画面】「終了」 */

/*【新規登録画面画面】「開始」*/

form div label{
  /* display: block; */
}

form div input{
  
}



/*【新規登録画面画面】「終了」*/

/*【footer管理画面】「開始」*/
footer{
 background-image:url("../img/nomilog_footer.jpg");
 background-size: cover;
 min-height: 300px;
 background-position:50%;
 position: relative;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

footer a{
  color: White;
  text-decoration: none;
}

.fotter-font{
  text-align: center;
  padding-top: 3%;
  margin: 0;
  /* padding: 8%; */
  color: #FFF;
  font-weight: bold;
  position: relative;
  /* 下記の説明　優先順位決めるよ */
  z-index: 1;
}
/*【footer管理画面】「終了」*/