*{
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  color:#575757;;
}

header{
  z-index: 1;
  min-height: 80px;
  width: 100%;
  background-color:#000;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  opacity: 0.7;
}

header:before  {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
}

header>div{
  display: flex;
}

header>div>h2{
  color: #fff;
  font-size: 30px;
}

.my-white{
  color: #fff;
}

.header-list{
  display: flex;
  color: #fff;
}

.header-list-flex-column{
  display: flex;
  flex-direction:column;
}

.header-list li{
  list-style: none;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  font-size: large;
  font-weight: 700;
}

.header-list div{
  text-align: right;
}

header img{
  height:35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid yellow;
  /* 下記の説明 画像の高さを揃える */
  vertical-align: bottom;
}

Main{
  min-height: 60vh;
  background-size: cover;
  /* 下記の説明　下記を充ててあげないとheaderが埋まる */
  padding-top: 150px;
}

.Main-font{
  text-align: center;
  color:block;
}

.Main-font h1 {
  position: relative;
  padding: 0.5rem;
  text-align: center;
}

.Main-font h1:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background:yellow;
}

.Main-button{
  width: 70%;
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5%;
}

.Main-button a{
  text-decoration: none;
}

.Main-button >div{
  width:50%;
  text-align: center;
  margin-top: 30px;
}

a.btn--blue {
  font-size: large;
  font-weight: bold;
  padding:20px 20px;
  display: inline-block;
  width: 200px;

  color: black;
  background-color:#00CCFF;
  border-bottom: 5px solid#0081cc;
  border-radius: 10px;    
}

a.btn--blue:hover{
  opacity: 0.7;
}

a.btn--blue:active {
  margin-top: 3px;
  color: black;
  background: #00CCFF;
  /* 下記の説明 border-bottomの値が減っています */
  border-bottom: 2px solid #00CCFF;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

footer{
 background-image:url("../img/nomilog_footer.jpg");
 background-size: cover;
 min-height: 300px;
 background-position:50%;
 position: relative;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

footer a{
  color: White;
  text-decoration: none;
}

.fotter-font{
  text-align: center;
  padding-top: 3%;
  margin: 0;
  /* padding: 8%; */
  color: #FFF;
  font-weight: bold;
  position: relative;
  /* 下記の説明　優先順位決めるよ */
  z-index: 1;
}