@import "../master/css/stylesheet.css";

header{
  max-height: 92px;
  min-height: 92px;
  height:92px;
}

footer{
  padding-top:10px;
  max-height: 92px;
  min-height: 92px;
  height:92px;
  position: fixed;
  bottom:0;
  width:100%;
}
footer>div {
  padding-top:0px !important;
}
@media(max-height:400px) {
  footer{
    display: none;
  }
}
body{
  margin-top: 92px;
  min-height: 50px;
}
form{
  margin:0px 20px;
}
section{
  margin:5px 0px;
}