*{
  /* box-sizing: border-box; */
}

body {
  margin: 0;
}

header{
  min-height: 15vh;
  background-color: dimgray;
  display: flex;
  justify-content: space-between;
}

header>div{
  display: flex;
}

header>div>h2{
  color: aliceblue;
}

.header-list{
  display: flex;
}

.header-list li{
  list-style: none;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: aliceblue;
  font-size: x-large;
}

.my-white{
  color: aliceblue;
}

.Main{
  min-height: 50vh;
}

.Main-font{
  text-align: center;
}

.Main-a{
  display:flex;
  flex-wrap: wrap;
}

.Main-a >div{
  flex:auto;
  width:50%;
  text-align: center;
}

.Main-a >div >a{
  /* 下記の説明　インライン要素をブロック要素ポクする */
  display: inline-block;
   background-color: aqua;
   width: 20%;
}

footer{
  background-image: url("../img/nomilog-fotter.jpg");
  min-height: 20vh;
}

footer a{
  color: White;
}

.fotter-font{
  color:White;
  text-align: center;
  padding: 3%;
}