*{
  /* box-sizing: border-box; */
}

body {
  margin: 0;
}

header{
  z-index: 1;
  min-height: 15vh;
  width: 100%;
  background-color:#ccc;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  opacity: 0.7;
}

header:before  {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom: 3px solid  black;
  /* left:5%; */
}

header>div{
  display: flex;
}

header>div>h2{
  color: black;
}

.my-white{
  color: black;
}

.header-list{
  display: flex;
}

.header-list-flex-column{
  display: flex;
  flex-direction:column;
}

.header-list li{
  list-style: none;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  font-size: large;
  font-weight: 700;
}

.header-list div{
  text-align: right;
}

header img{
  height:50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #00FFFF;
}

.Main{
  min-height: 70vh;
  /* background-image: url(../img/nomilog_master.jpg); */
  /* 下記の説明 imgのサイズを丁度にする */
  background-size: cover;
  /* 下記の説明　下記を充ててあげないとheaderが埋まる */
  padding-top: 200px;
}

.Main-font{
  text-align: center;
  color:block;
}

.Main-font h1 {
  position: relative;
  padding: 0.5rem;
  text-align: center;
}

.Main-font h1:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background:#00FFFF;
}

.Main-button{
  display:flex;
  flex-wrap: wrap;
  font-size: x-large;
  margin-top: 5%;
}

.Main-button >div{
  flex:auto;
  width:50%;
  text-align: center;
  margin-top: 30px;
}

footer{
 background-image:url("../img/nomilog_footer.jpg");
 background-size: cover;
 min-height: 40vh;
 /* 下記の設営 調べる */
 background-position:50%;
 position: relative;

}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  }

footer a{
  color: White;

}


.fotter-font{
  text-align: center;
  padding-top: 3%;
  margin: 0;
  /* padding: 8%; */
  color: #FFF;
  font-weight: bold;
  position: relative;
  /* 下記の説明　優先順位決めるよ */
  z-index: 1;

}