*{
  /* box-sizing: border-box; */
}

body {
  margin: 0;
}

header{
  min-height: 15vh;
  background-color: dimgray;
  display: flex;
  justify-content: space-between;
}

header>div{
  display: flex;
}

header>div>h2{
  color: aliceblue;
}

.header-list{
  display: flex;
}

.header-list-flex-column{
  display: flex;
  flex-direction:column;
}

.header-list li{
  list-style: none;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: aliceblue;
  font-size: large;
}

.my-white{
  color: aliceblue;
}

.Main{
  min-height: 50vh;
}

.Main-font{
  text-align: center;
}

.Main-a{
  display:flex;
  flex-wrap: wrap;
}

.Main-a >div{
  flex:auto;
  width:50%;
  text-align: center;
}

.Main-a >div >a{
  /* 下記の説明　インライン要素をブロック要素ポクする */
    display: inline-block;
   background-color: aqua;
   width: 20%;
}

footer{
  background:
  linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#708090;
  background-size: 64px 128px;  
  min-height: 20vh;
}

footer a{
  color: White;
}

.fotter-font{
  color:White;
  text-align: center;
  padding: 3%;
}